.checkbox {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-left: -8px;

  label {
    cursor: pointer;
  }
}

.buttonCheckbox {
  all: unset;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;

  border-radius: 50%;

  &:disabled {
    pointer-events: none;
    color: var(--color-dark-100);
  }

  &:hover {
    background-color: var(--color-dark-500);
  }

  &:active {
    background-color: var(--color-dark-100);
  }

  &:focus {
    background-color: var(--color-dark-100);
    outline: none;
  }
}
