.card {
  align-items: center;
  text-align: center;
}

.title {
  margin-bottom: 20px;
}

.text {
  color: var(--color-light-900);
  margin-top: 19px;
  margin-bottom: 65px;
}

.button {
  box-sizing: border-box;
  margin-bottom: 21px;
}
