.select {
  span {
    color: var(--color-dark-100);
  }
}

.imageField {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--color-dark-300);

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 10px;

    &:first-child {
      margin-left: 15px;
    }

    &:last-child {
      margin-right: 15px;
    }
  }
}
