.title {
  margin-bottom: 51px;
  cursor: default;
}

.form {
  display: flex;
  flex-direction: column;
}

.textInfo {
  color: var(--color-light-900);
  margin-bottom: 65px;
  cursor: default;
}

.reminder {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  gap: 11px;
}

.textReminder {
  color: var(--color-light-900);
  cursor: default;
}

.button {
  cursor: pointer;
}
