.primary,
.secondary,
.tertiary {
  all: unset;

  cursor: pointer;

  display: flex;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;

  padding: 6px 28px;

  font-size: var(--font-size-s);
  line-height: var(--line-height-m);
  color: var(--color-light-100);

  border-radius: 4px;
}

.primary {
  background-color: var(--color-accent-500);
  box-shadow: 0 4px 18px 0 rgba(140 97 255 / 35%);

  &:hover {
    background-color: var(--color-accent-300);
  }

  &:active {
    background-color: var(--color-accent-700);
  }

  &:focus-visible {
    outline: 2px solid var(--color-info-700);
  }

  &:disabled {
    color: var(--color-light-100);
    background-color: var(--color-accent-900);
  }
}

.secondary {
  background-color: var(--color-dark-300);
  box-shadow: 0 4px 4px 0 rgb(77 86 96 / 13%);

  &:hover {
    background-color: var(--color-dark-100);
  }

  &:active {
    background-color: var(--color-dark-500);
  }

  &:focus-visible {
    outline: 2px solid var(--color-info-700);
  }

  &:disabled {
    color: var(--color-light-900);
    background-color: var(--color-dark-300);
  }
}

.tertiary {
  color: var(--color-accent-500);
  border: 1px solid var(--color-accent-500);

  &:hover {
    background-color: var(--color-dark-500);
    border: 1px solid var(--color-accent-700);
  }

  &:active {
    background: var(--color-accent-900);
    border: 1px solid var(--color-accent-700);
  }

  &:focus-visible {
    outline: 2px solid var(--color-info-700);
  }

  &:disabled {
    color: var(--color-accent-900);
    border: 1px solid var(--color-accent-900);
  }
}

.link {
  all: unset;
  padding: 6px 0;
  color: var(--color-accent-500);

  &:hover {
    color: var(--color-accent-300);
  }

  &:active {
    color: var(--color-accent-700);
    border: none;
  }

  &:focus-visible {
    padding: 6px 12px;
    border-radius: 18px;
    outline: 2px solid var(--color-info-700);
  }

  &:disabled {
    color: var(--color-accent-900);
  }

  &:any-link {
    color: var(--color-accent-500);
    text-decoration: none;

    &:hover {
      color: var(--color-accent-300);
    }
  }
}

.fullWidth {
  width: 100%;
}
