.signUp {
  form {
    display: flex;
    flex-direction: column;
  }
}

.title {
  cursor: default;
  margin-bottom: 27px;
}

.confirmPassword {
  margin-bottom: 44px;
}

.span {
  cursor: default;

  display: block;

  margin: 20px 0 11px;

  color: var(--color-light-900);
  text-align: center;
}

.buttonSignIn {
  cursor: pointer;
  display: block;
  margin: auto;
  text-decoration: underline;
}
