.large {
  font-size: 26px;
  font-weight: 700;
  line-height: 36px;
}

.h1 {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
}

.h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.body_1 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.subtitle_1 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.body_2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.subtitle_2 {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.caption {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.overline {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
}

.link_1 {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-info-500);
  text-decoration-line: underline;
}

.link_2 {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: var(--color-info-500);
  text-decoration-line: underline;
}
