.wrapper {
  margin: 0 136px;
}

.linkBack {
  display: flex;
  gap: 6px;
  align-items: center;

  margin-top: 24px;
  margin-bottom: 33px;
}

.headerCards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 27px;
}
