.signIn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 36px 0 0;

  form {
    display: flex;
    flex-direction: column;
  }
}

.linkRecover {
  display: block;

  margin-bottom: 60px;
  margin-left: auto;
  padding: 6px 12px;

  text-align: right;

  &:any-link {
    color: inherit;
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
  }
}

.title {
  cursor: default;
  margin-bottom: 27px;
}

.span {
  cursor: default;
  display: block;
  margin: 20px 0 11px;
  text-align: center;
}

.linkReg {
  display: block;
  margin: auto;
  text-decoration-color: var(--color-accent-700);

  &:focus {
    outline: none;
  }
}
