.header {
  display: flex;
  justify-content: space-between;

  height: 60px;
  padding: 0.75rem 8.5rem;

  background-color: var(--color-dark-700);
  border-bottom: 1px solid #313131;
}

.userHeader {
  display: flex;
  cursor: pointer;
}

.headerSpan {
  height: 24px;
  margin-right: 14px;
  border-bottom: dashed 1px;
}

.headerUserInfo {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

.headerEmail {
  margin-right: 15px;
  color: var(--color-dark-100);
}
