.header {
  display: flex;
  gap: 10px;
  justify-content: space-between;

  min-width: 400px;
  height: 60px;
  padding: 0.75rem 8.5rem;

  background-color: var(--color-dark-700);
  border-bottom: 1px solid #313131;
}

.logoButton {
  cursor: pointer;
  width: 157px;
}

.userHeader {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.headerSpan {
  height: 24px;
  margin-right: 14px;
  border-bottom: dashed 1px;
}

.headerUserInfo {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

.headerEmail {
  margin-right: 15px;
  color: var(--color-dark-100);
}

@media (width<=1000px) {
  .header {
    padding: 0.75rem 4.5rem;
    transition: padding 0.6s ease;
  }
}

@media (width<=700px) {
  .header {
    padding: 0.75rem 2.5rem;
    transition: padding 0.6s ease;
  }
}
