.header {
  display: flex;
  justify-content: space-between;

  height: 60px;
  padding: 12px 136px;

  background-color: var(--color-dark-700);
  border-bottom: 1px solid #313131;
}

.userHeader {
  display: flex;
}

.headerSpan {
  height: 24px;
  margin-right: 14px;
  border-bottom: dashed 1px;
}
