.card {
  display: flex;
  flex-direction: column;

  width: 420px;
  margin: 36px auto;
  padding: 33px 36px 23px;

  background-color: var(--color-dark-700);
  border: 1px solid #313131;
  border-radius: 2px;
  box-shadow:
    1px 1px 2px #0000001a,
    -1px -1px 2px #0000001a;
}
