.button {
  all: unset;

  position: absolute;
  top: 8px;
  right: 12px;

  display: flex;

  height: 20px;

  &:focus {
    background-color: var(--color-dark-100);
    border-radius: 50%;
  }
}

.logout,
.eye,
.eyeOff,
.search,
.checked,
.unchecked {
  fill: currentcolor;
}

.logout {
  width: 16px;
  height: 16px;
  margin-right: 10px;

  text-align: center;
  vertical-align: sub;
}

.eye,
.eyeOff {
  width: 20px;
  height: 20px;
}

.checked,
.unchecked {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}
