.logout,
.eye,
.eyeOff,
.search,
.checked,
.unchecked {
  fill: currentcolor;
}

.logout {
  width: 16px;
  height: 16px;
  margin-right: 10px;

  text-align: center;
  vertical-align: sub;
}

.eye,
.eyeOff {
  position: relative;
  top: 8px;
  right: 32px;

  width: 20px;
  height: 20px;
}

.checked,
.unchecked {
  width: 24px;
  height: 24px;

  vertical-align: middle;
}
