.packList {
  max-width: var(--main-container-width);
  margin: 36px 136px;
}

.headerSection {
  display: flex;
  justify-content: space-between;
}

.filterSection {
  display: flex;
  flex-wrap: nowrap;
  gap: 2px;
  align-items: end;
  justify-content: space-between;
}

.inputSearch {
  display: -webkit-box;
  width: 18.6875rem;
}

.table {
  max-width: var(--main-container-width);
  margin: auto;
  margin-bottom: 30px;
}

.buttonUpdated {
  cursor: pointer;
  display: flex;
  gap: 0.25rem;
  align-items: center;

  .arrow {
    transform: rotate(180deg);
    fill: currentcolor;
  }
}

.pagination {
  display: flex;
  justify-content: center;
}
