.packList {
  max-width: var(--main-container-width);
  margin: 36px auto;
  padding: 10px;
}

.headerSection {
  display: flex;
  justify-content: space-between;
}

.filterSection {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.filterSecondSection {
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
  align-items: end;
  justify-content: space-between;
}

@media (width <= 1000px) {
  .filterSection {
    flex-direction: column;
    gap: 10px;
    align-items: start;
    margin-top: 20px;
  }
}

@media (width <= 700px) {
  .filterSecondSection {
    flex-direction: column-reverse;
    gap: 15px;
    align-items: start;
    margin-top: 20px;
  }
}

.inputSearch {
  display: -webkit-box;
  width: 18.6875rem;
}

.tableDeck {
  max-width: var(--main-container-width);
  margin: 0 auto 30px;
}

.tableCard {
  overflow: auto;
  max-width: 100%;
  margin: 0 auto 30px;
}

//.buttonUpdated {
//  cursor: pointer;
//  display: flex;
//  gap: 0.25rem;
//  align-items: center;
//
//  .arrow {
//    transform: rotate(180deg);
//    fill: currentcolor;
//  }
//}

.pagination {
  display: flex;
  justify-content: center;
}

.emptyPack {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

//these styles for cards

.linkCard {
  a {
    color: inherit;
    text-decoration: none;
  }

  &:hover {
    color: var(--color-dark-100);
  }
}

.emptyDeck {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 80px;

  color: var(--color-dark-100);

  button {
    width: fit-content;
    margin-top: 30px;
  }
}

.tablesButtons {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
}

.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 50%;

  &:disabled {
    pointer-events: none;
    color: var(--color-dark-100);
  }

  &:hover {
    background-color: var(--color-dark-500);
    box-shadow: 0 0 0 5px var(--color-dark-500);
  }

  &:active {
    background-color: var(--color-dark-300);
    box-shadow: 0 0 0 5px var(--color-dark-300);

    svg {
      fill: var(--color-light-900);
    }
  }
}
